*{
    margin:0;
    padding:0;
  }
  #canvas{
    display: block;
    background:#cbecb9;
    margin:0;
    padding:0;
  }
  .actions{
    position: fixed;
    top: 20px;
    left: 20px;
  }
.icon {
    width: 2.5em; height: 2.5em;
    vertical-align: -0.15em;
    fill: #638a48;
    overflow: hidden;
    padding:2px; 
    margin:0 4px;
    transition: all .4s;
 }
.actions svg.active{
  fill:red;
  transform:scale(1.2);
}
